body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

#map {
  width: 100vw;
  height: 100vh;
}

/* Popup styling */
.popup-container {
  max-width: 240px;
}

.popup-heading {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 6px;
}

.popup-section {
  font-size: 14px;
  margin-top: 6px;
}

.popup-img {
  width: 100%;
  border-radius: 8px;
  margin-top: 10px;
}
